<!DOCTYPE html>
<html>
	<head>
	 	<link rel="stylesheet" href="style.css">
		<script src="../lib/js/angular.min.js"></script>
		<script src="../lib/js/jquery-3.1.1.min.js"></script>
		<script src="angControl.js"></script>
	<head>
	<body>

		<div ng-app="ARL" ng-controller="ctrlIt">
			<div class="wrapIt">
				<header>
					<h1>AllRandom.lol</h1>
				</header>

				<div class="champImg">
					<div class="overlay">
					</div>
				</div>

				<div class="build">
				    <h1>{{champName}}</h1>
				    <h3>{{champTitle}}</h3>
				    <br />
				    <h3>Your Build:</h3>
				    <div class="infoArea">
				    	<div class="fullBuild">

				    	</div>
				    	<div class="itemDetails">
				    	</div>
				    </div>
				    <ul>
				    	<li ng-repeat="n in items track by $index" class="itemContainer">
				    		<div class="itemTipWrap">
				   				<img class="item" src='{{n.icon}}' id="item{{$index}}" title="words"\>
				   				<span class="arrow_box">{{n.id}}</span>
				   			</div>	
				   		</li>
				   	</ul>
				   	<br />
				   	<br />
					<br />
					<br />
					<br />

				   	<a class="changeChampion" ng-click="getChamp()">-New Champion-</a>
				   	<a class="changeChampion" ng-click="getItems()">-New Build-</a>
				   	<a class="changeChampion" ng-click="getChamp();getItems();">-NOPE!-</a>
			   	</div>
		   	</div>
		</div>
		
	</body>
</html>