<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../lib/css/bootstrap.css">
	 	<link rel="stylesheet" href="style.css">
		<script src="../lib/js/angular.min.js"></script>
		<script src="../lib/js/jquery-3.1.1.min.js"></script>
		<script src="../lib/js/bootstrap.js"></script>
		<script src="angControl.js"></script>
	<head>
	<body>
		<div ng-app="ARL" ng-controller="ctrlIt">
		<div class="loader"><img src="../lib/img/loading_1.gif"></div>
			<div class="body" id="body">
				<header>
					<h1>AllRandom.lol</h1>
				</header>

				<div class="contentWrapper">
					<div class="champImg">
						<div class="build col-xs-12 col-md-12 col-lg-12">
							<div class="champInfo">
							    <h1>{{cb.c.champName}}</h1>
							    <h3>{{cb.c.champTitle}}</h3>
							</div>
						    <br />
						    <input type="text" name="buildString" value="{{buildString}}" style="color:#000" size="50">
						    <div class="buildInfo col-xs-12 col-md-12 col-lg-12">
							    <h3 class="col-xs-12 col-md-12 col-lg-12">Your Build:</h3>
							    <ul class="col-xs-12 col-md-12 col-lg-12">
							    	<li ng-repeat="n in cb.i track by $index" class="itemContainer">
						   				<img class="item" src='{{n.icon}}' id="item{{$index}}" title="this"\>
							   		</li>
							   	</ul>
							   	 <ul class="col-xs-12 col-md-12 col-lg-12">
							    	<li ng-repeat="n in cb.s track by $index" class="itemContainer">
						   				<img class="item" src='{{n.img}}' id="summoners{{$index}}" title="this"\>
							   		</li>
							   	</ul>
						   	</div>
					   	</div>
					   	<!--
					   	<div class="history">
					   		<h3 class="">History:</h3>
					   			<ul>
						   			<li ng-repeat="n in pb track by $index">
									    <ul class="">
									    	<li ng-repeat="it in n.i track by $index" class="itemContainer">
								   				<img class="sitem" src='{{it.icon}}' id="sitem{{$index}}" title="this"\>
									   		</li>
									   	</ul>
									   	 <ul class="">
									    	<li ng-repeat="su in n.s track by $index" class="itemContainer">
								   				<img class="sitem" src='{{su.img}}' id="ssummoners{{$index}}" title="this"\>
									   		</li>
									   	</ul>
									</li>
								</ul>
					   	</div>-->
					   	<div class="remakeBtns col-xs-12 col-md-12 col-lg-12">
						   	<a class="changeChampion btn btn-success col-xs-12 col-md-4 col-lg-4" ng-click="getChamp()">New Champion</a>
						   	<a class="changeChampion btn btn-warning col-xs-12 col-md-4 col-lg-4" ng-click="getItems()">New Build</a>
						   	<a class="changeChampion btn btn-danger col-xs-12 col-md-4 col-lg-4" ng-click="getChamp();getItems();getSummoners();">NOPE!</a>
					   	</div>
					   	<div class="historyBtns">
					   		<a class="changeChampion btn btn-primary col-xs-1 col-md-1 col-lg-1" ng-click="viewHistory(0)" style="float:left;">&larr;</a>
					   		<div class="col-md-3" style="margin-left:auto;margin-right:auto;">{{cbn}}</div>
					   		<form name="mapChoice">
						   		<label><input type="radio" ng-model="map" value="Summoners Rift" ng-value="11">Summoners Rift</label>
						   		<label><input type="radio" ng-model="map" value="Howling Abyss" ng-value="12">Howling Abyss</label>
						   		<label><input type="radio" ng-model="map" value="Twisted Treeline" ng-value="10">Twisted Treeline</label>
					   		</form>
					   		<a class="changeChampion btn btn-primary col-xs-1 col-md-1 col-lg-1" ng-click="viewHistory(1)" style="float:right;">&rarr;</a>
					   	</div>
						<div class="overlay"></div>
					</div>
				</div>
				<footer>
					<p>This is where the footer is</p>
				</footer>
		   	</div>
		</div>
		
	</body>
</html>