@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Libre+Baskerville');
body{
	background-color:#000;
	max-width:1215px;
}
h1{
	font-size:300%;
	margin:0px;
}
h3{
	margin:0px
}
a{
	cursor:pointer;
}
a:hover{
	color:#ff0;
}
a:active{
	color:#fff;
}
header{
	color:#fff;
	height:75px;
}
.body{
	max-width:1215px;
	margin-left:auto;
	margin-right:auto;
}
.champImg{
	width:100%;
	height:700px;
	height:auto;
	border-radius:10px;
}
.contentWrapper{
	width:100%;
	min-height:720px;

}

.item {
	border-radius:10px;
	border-style:solid;
	border-width:1px;
	border-color:#fff;
	margin-left:5px;
	margin-right:5px;
}
.item:hover {
	border-radius:10px;
	border-style:solid;
	border-width:1px;
	border-color:#ff0;
}
.itemContainer{
	float:left;
}

.overlay{
	position:absolute;
	bottom:125px;
	height:350px;
	max-width:1220px;
	width:100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );

}
.build{
	z-index:10;
	width:100%;
	color:#fff;
	margin-left:20px;
	position: absolute; 
	bottom: 175px;
	font-family: 'EB Garamond', serif;
	font-family: 'Libre Baskerville', serif;
}
ul{
	list-style:none;
}
.remake .btn
{
	padding-left:10px;
	padding-right:10px;
}









.tooltip{
    display: inline;
    position: relative;
}
.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}



.itemTipWrap:hover .arrow_box {
    visibility: visible;
}
.itemTipWrap .arrow_box {
	visibility:hidden;
    height:100px;
    width:50px;
    background-color:red;
}
