<!DOCTYPE html>
<html>
<head>
    <!-- -->
    <script src="lib/js/jquery-3.1.1.min.js"></script>
    <script src="lib/js/angular.min.js"></script>
    <script src="lib/js/bootstrap.js"></script>
    <link rel="stylesheet" href="lib/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/css/index.css">

</head>

<script>//FOR Analytics DO NOT MOVE
    dataLayer = [];
//<!-- Google Tag Manager -->
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WVP7GG2');
//<!-- End Google Tag Manager -->



var app = angular.module("keepTalkikng", []);
</script>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVP7GG2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <script src="lib/js/wireCut.js"></script>
    <script src="lib/js/button.js"></script>
    <script src="lib/js/sequnceWire.js"></script>
    <script src="lib/js/password.js"></script>
    
 
    <div ng-app="keepTalkikng"> 
    <div ng-cloak ng-controller="wireCutControl">
    <div class="col-md-12">
       <h2>Input SECTION</h2>
        <h4> Serial Number</h4>
        <input type = "text"; ng-model="serial" ng-blur="checkSerial()">
        <h4>Batteries</h4>
        <input type="number" min="0" max="4" step="1" ng-model="batteries"/>
        <br />
        <h4> Parallel Port?</h4>
        <input type="checkbox" ng-model="parallelPort">
        <br />
        <h4>Indicators</h4>
        <h5 class="col-sm-12" ng-repeat="x in litInd track by $index">
            {{x}} isLIT: {{litIndLit[$index]}}
        </h5>
        <input ng-model="indicatorIN" type="text">
        LIT: <input type="checkbox" ng-model="isLit">
        <button type="button" ng-click="addInd()" class="btn btn-primary" ng-true-value="true" ng-false-value="false" ng-disabled="indicatorIN.length < 3">Add Indicator</button>
    </div>
    </div>



    <div  ng-cloak ng-controller="wireCutControl">
        <div ng-hide="litIndLit.length==0 || !serial">

            <!--ON THE SUBJECT OF WIRES -->
            <hr class="col-md-12">
            <div class="col-md-12">
                <h2>On the Subject of Wires</h2>
                <button type="button" class="btn btn-primary" ng-click="addBasicWire('Blue')" ng-disabled="basicWires.length == 6">Blue</button>
                <button type="button" class="btn btn-danger" ng-click="addBasicWire('Red')" ng-disabled="basicWires.length == 6">Red</button>
                <button type="button" class="btn btn-warning" ng-click="addBasicWire('Yellow')" ng-disabled="basicWires.length == 6">Yellow</button>
                <button type="button" class="btn btn-secondary" ng-click="addBasicWire('White')" ng-disabled="basicWires.length == 6">White</button>
                <button type="button" class="btn" style="color:white;background-color:black;" ng-click="addBasicWire('Black')" ng-disabled="basicWires.length == 6">Black</button>
                <h3 class="col-md-12">CUT: {{basicWireMSG}}</h3> 
                <ul class="col-md-3" style="list-style-type:none">
                    <li ng-repeat="value in basicWires track by $index" class="col-md-12">
                        <span ng-if="value=='Red'" class="btn-danger col-md-12">
                            {{value}}
                            <span ng-click="removeItem($index)" style="float:right;">&times;</span>
                        </span>
                        <span ng-if="value=='White'" class="btn-secondary col-md-12">
                                {{value}}
                            <span ng-click="removeItem($index)" style="float:right;">&times;</span>
                        </span>
                        <span ng-if="value=='Blue'" class="btn-primary col-md-12">
                            {{value}}
                            <span ng-click="removeItem($index)" style="float:right;">&times;</span>
                        </span>
                        <span ng-if="value=='Black'" style="color:white;background-color:black;float:right;" class="col-md-12">
                            {{value}}
                            <span ng-click="removeItem($index)" style="float:right;">&times;</span>
                        </span>
                         <span ng-if="value=='Yellow'" class="btn-warning col-md-12">
                            {{value}}
                            <span ng-click="removeItem($index)" style="float:right;">&times;</span>
                            <br>
                        </span>
                    </li>
                </ul>
                <br>
                <button type="button" class="btn btn-secondary" ng-click="resetBasicWire()" ng-disabled="basicWires.length == 0">RESET</button>
            </div>
            </div>
 <script>
 console.log("1");
 </script>

</div>








        </div>
    </div>
<footer style="height:1000px">
</footer>
</body>
</html>


        
